.element-item, .capabilities-list li span.color {
  &.color-accent-1 {
    background-color: $color-accent-1;
  }
  &.color-accent-2 {
    background-color: $color-accent-2;
  }
  &.color-accent-3 {
    background-color: $color-accent-3;
  }
  &.color-accent-4 {
    background-color: $color-accent-4;
    color: #fff;
  }
  &.color-accent-5 {
    background-color: $color-accent-5;
  }
  &.color-accent-6 {
    background-color: $color-accent-6;
  }
  &.color-accent-7 {
    background-color: $color-accent-7;
  }
  &.color-accent-8 {
    background-color: $color-accent-8;
    color: #fff;
  }
  &.color-accent-9 {
    background-color: $color-accent-9;
  }
  &.color-accent-10 {
    background-color: $color-accent-10;
  }
  &.color-accent-11 {
    background-color: $color-accent-11;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &.color-accent-12 {
    background-color: $color-accent-12;
    color: #fff;
  }
  &.color-accent-13 {
    background-color: $color-accent-13;
  }
  &.color-accent-14 {
    background-color: $color-accent-14;
  }
  &.color-accent-15 {
    background-color: $color-accent-15;
  }
  &.color-accent-16 {
    background-color: $color-accent-16;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &.color-accent-17 {
    background-color: $color-accent-17;
  }
  &.color-accent-18 {
    background-color: $color-accent-18;
  }
  &.color-accent-19 {
    background-color: $color-accent-19;
  }
  &.color-accent-20 {
    background-color: $color-accent-20;
  }
  &.color-accent-21 {
    background-color: $color-accent-21;
    color: #fff;
  }
}

.border-color-accent-1 {
  border-color: $color-accent-1;
}
.border-color-accent-2 {
  border-color: $color-accent-2;
}
.border-color-accent-3 {
  border-color: $color-accent-3;
}
.border-color-accent-4 {
  border-color: $color-accent-4;
}
.border-color-accent-5 {
  border-color: $color-accent-5;
}
.border-color-accent-6 {
  border-color: $color-accent-6;
}
.border-color-accent-7 {
  border-color: $color-accent-7;
}
.border-color-accent-8 {
  border-color: $color-accent-8;
}
.border-color-accent-9 {
  border-color: $color-accent-9;
}
.border-color-accent-10 {
  border-color: $color-accent-10;
}
.border-color-accent-11 {
  border-color: $color-accent-11;
}
.border-color-accent-12 {
  border-color: $color-accent-12;
}
.border-color-accent-13 {
  border-color: $color-accent-13;
}
.border-color-accent-14 {
  border-color: $color-accent-14;
}
.border-color-accent-15 {
  border-color: $color-accent-15;
}
.border-color-accent-16 {
  border-color: $color-accent-16;
}
.border-color-accent-17 {
  border-color: $color-accent-17;
}
.border-color-accent-18 {
  border-color: $color-accent-18;
}
.border-color-accent-19 {
  border-color: $color-accent-19;
}
.border-color-accent-20 {
  border-color: $color-accent-20;
}
.border-color-accent-21 {
  border-color: $color-accent-21;
}

.font-color-accent-1 {
  color: $color-accent-1;
}
.font-color-accent-2 {
  color: darken($color-accent-2, 10%);
}
.font-color-accent-3 {
  color: $color-accent-3;
}
.font-color-accent-4 {
  color: $color-accent-4;
}
.font-color-accent-5 {
  color: $color-accent-5;
}
.font-color-accent-6 {
  color: $color-accent-6;
}
.font-color-accent-7 {
  color: $color-accent-7;
}
.font-color-accent-8 {
  color: $color-accent-8;
}
.font-color-accent-9 {
  color: $color-accent-9;
}
.font-color-accent-10 {
  color: darken($color-accent-10, 10%);
}
.font-color-accent-11 {
  color: darken($color-accent-11, 20%);
}
.font-color-accent-12 {
  color: $color-accent-12;
}
.font-color-accent-13 {
  color: $color-accent-13;
}
.font-color-accent-14 {
  color: $color-accent-14;
}
.font-color-accent-15 {
  color: $color-accent-15;
}
.font-color-accent-16 {
  color: #333;
}
.font-color-accent-17 {
  color: $color-accent-17;
}
.font-color-accent-18 {
  color: $color-accent-18;
}
.font-color-accent-19 {
  color: $color-accent-19;
}
.font-color-accent-20 {
  color: $color-accent-20;
}
.font-color-accent-21 {
  color: $color-accent-21;
}
