$color-body-text: #333642;
$color-accent-1: #63F2CC;
$color-accent-2: #EDEBE3;
$color-accent-3: #B5E3ED;
$color-accent-4: #4C8CA2;
$color-accent-5: #E3C96A;
$color-accent-6: #FFA17D;
$color-accent-7: #C2C7D6;
$color-accent-8: #302E2B;
$color-accent-9: #C2C4C7;
$color-accent-10: #E7E8E9;
$color-accent-11: #D8FCF2;
$color-accent-12: #58544E;
$color-accent-13: #9EEAD6;
$color-accent-14: #60B6D4;
$color-accent-15: #CAC8BE;
$color-accent-16: #FFFCF0;
$color-accent-17: #F6C3B0;
$color-accent-18: #E5D69F;
$color-accent-19: #A9AEBA;
$color-accent-20: #E3E7F4;
$color-accent-21: #5A6D8A;
