.element-item, .capabilities-list li span.color {
  &.color-accent-1 {
    background-color: $color-accent-1;
  }
  &.color-accent-2 {
    background-color: $color-accent-2;
  }
  &.color-accent-3 {
    background-color: $color-accent-3;
  }
  &.color-accent-4 {
    background-color: $color-accent-4;
    color: #fff;
  }
  &.color-accent-5 {
    background-color: $color-accent-5;
  }
  &.color-accent-6 {
    background-color: $color-accent-6;
  }
  &.color-accent-7 {
    background-color: $color-accent-7;
  }
  &.color-accent-8 {
    background-color: $color-accent-8;
    color: #fff;
  }
  &.color-accent-9 {
    background-color: $color-accent-9;
  }
  &.color-accent-10 {
    background-color: $color-accent-10;
  }
  &.color-accent-11 {
    background-color: $color-accent-11;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &.color-accent-12 {
    background-color: $color-accent-12;
    color: #fff;
  }
  &.color-accent-13 {
    background-color: $color-accent-13;
  }
  &.color-accent-14 {
    background-color: $color-accent-14;
  }
  &.color-accent-15 {
    background-color: $color-accent-15;
  }
  &.color-accent-16 {
    background-color: $color-accent-16;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &.color-accent-17 {
    background-color: $color-accent-17;
  }
  &.color-accent-18 {
    background-color: $color-accent-18;
  }
  &.color-accent-19 {
    background-color: $color-accent-19;
  }
  &.color-accent-20 {
    background-color: $color-accent-20;
  }
  &.color-accent-21 {
    background-color: $color-accent-21;
    color: #fff;
  }
}

.elements-view {
  position: relative;
  transition: opacity 0.3s linear;
  opacity: 1;

  &.has-current-element {
    opacity: 0.8;
  }
}

.elements-list {
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .capability {
    display: grid;
    position: relative;
    transition: opacity 0.2s linear;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      margin-top: 291px;
    }

    &.column-0 {
      grid-template-columns: repeat(1, 1fr);
    }
    &.column-1 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.column-2 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.column-3 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.column-4 {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &.has-selected {
    .capability {
      opacity: 0.4;
      filter: grayscale(1);

      &.selected {
        z-index: 3;
        filter: none;
        opacity: 1;
      }
    }
  }
}
.cloned-element {
  position: fixed;
  z-index: 100;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  @include lt-sm() {
    position: absolute;
  }

  .close {
    background: url('../images/icon-close.svg') no-repeat center center;
    background-size: contain;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    padding: 4px;
    opacity: 0;
  }

  .details {
    position: absolute;
    left: 170px;
    top: 0;
    width: 330px;
    padding: 20px;
    line-height: 135%;

    @include lt-sm() {
      left: 130px;
      top: 10px;
      width: 220px;
    }
  }

  .element-item {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0;
  }
}
.element-item {
  width: 170px;
  height: 94px;
  padding: 14px;
  margin: 1.5px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  user-select: none;

  @include lt-sm() {
    width: 130px;
    height: 70px;
    padding: 8px;
  }

  &.clone {
    &:hover {
      box-shadow: none;
      transform: none;
    }
  }

  &:hover {
    transform: scale(1.1, 1.1);
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
  }
  &:active {
    transform: scale(0.95, 0.95);
  }

  .element {
    font-size: 28px;
    margin-bottom: 4px;
    @include lt-sm() {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .name {
    font-size: 13px;
    line-height: 135%;
    @include lt-sm() {
      font-size: 11px;
    }
  }
}

a {
  color: #555;
  &:hover {
    text-decoration: none;
  }
}

.capabilities-list {
  width: 950px;
  position: absolute;
  left: 400px;
  top: 35px;

  @include lt-sm() {
    left: 300px;
    width: 700px;
  }

  .clear-all {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1 0 33%;
    }
  }

  .capability {
    display: inline-flex;
    padding: 4px 8px;
    margin: 4px 0;
    align-items: flex-end;
    cursor: pointer;
    transition: background-color 0.2s linear;
    border-radius: 4px;
    user-select: none;
    border: 1px solid transparent;

    &.selected {
      background-color: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.06);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    .color {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .name {
      transition: color 0.2s linear;
    }
  }

  &.has-selected {
    .name {
      color: #666;
    }

    .selected .name {
      color: #000;
    }
  }
}
