.element, .capabilities-list li span.color {
  &.color-accent-1 {
    background-color: $color-accent-1;
  }
  &.color-accent-2 {
    background-color: $color-accent-2;
  }
  &.color-accent-3 {
    background-color: $color-accent-3;
  }
  &.color-accent-4 {
    background-color: $color-accent-4;
  }
  &.color-accent-5 {
    background-color: $color-accent-5;
  }
  &.color-accent-6 {
    background-color: $color-accent-6;
  }
  &.color-accent-7 {
    background-color: $color-accent-7;
  }
  &.color-accent-8 {
    background-color: $color-accent-8;
  }
  &.color-accent-9 {
    background-color: $color-accent-9;
  }
  &.color-accent-10 {
    background-color: $color-accent-10;
  }
  &.color-accent-11 {
    background-color: $color-accent-11;
  }
  &.color-accent-12 {
    background-color: $color-accent-12;
  }
  &.color-accent-13 {
    background-color: $color-accent-13;
  }
  &.color-accent-14 {
    background-color: $color-accent-14;
  }
  &.color-accent-15 {
    background-color: $color-accent-15;
  }
  &.color-accent-16 {
    background-color: $color-accent-16;
  }
  &.color-accent-17 {
    background-color: $color-accent-17;
  }
  &.color-accent-18 {
    background-color: $color-accent-18;
  }
  &.color-accent-19 {
    background-color: $color-accent-19;
  }
  &.color-accent-20 {
    background-color: $color-accent-20;
  }
  &.color-accent-21 {
    background-color: $color-accent-21;
  }
}

.capabilities-list {
  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1 0 33%;
    }
  }

  .capability {
    display: inline-flex;
    padding: 8px;
    justify-items: center;

    .color {
      width: 12px;
      height: 12px;
      margin-right: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1)
    }
  }
}
