body {
  font-family: "PP Mori", sans-serif;
  font-display: swap;
  background: #fff;
  color: $color-body-text;
  font-size: 14px;
  margin: 20px;

  @include lt-sm() {
    font-size: 12px;
  }
}

.title {
  font-size: 2rem;
  color: #000;

  @include lt-sm() {
    font-size: 1.2rem;
  }
}

